@font-face {
  font-family: "Chaloops W00 Bd";
  src: url("../assets/9186e96567fadf9c630b48d987ccd538.eot"); /* IE9*/
  src: url("../assets/9186e96567fadf9c630b48d987ccd538.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/9186e96567fadf9c630b48d987ccd538.woff2")
      format("woff2"),
    /* chrome、firefox */ url("../assets/9186e96567fadf9c630b48d987ccd538.woff")
      format("woff"),
    /* chrome、firefox */ url("../assets/9186e96567fadf9c630b48d987ccd538.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("../assets/9186e96567fadf9c630b48d987ccd538.svg#Chaloops W00 Bd")
      format("svg"); /* iOS 4.1- */
  src: url("../assets/Chaloops\ W00\ Bd.otf");
}

%transition {
  transition: 0.4s ease;
}

%stroked {
  -webkit-text-stroke: 2px black;
  color: #fff;
}

%stroked-sm {
  -webkit-text-stroke: 1px black;
  color: #fff;
}

.c-pointer {
  cursor: pointer;
}

.stroked-sm {
  @extend %stroked-sm;
}

.dark-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 6;
  @extend %transition;

  &.close {
    left: -100%;
  }

  @media screen and (min-width: 992px) {
    left: -100% !important;
  }
}

.sidenav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  background-color: #fff;
  z-index: 6;
  @extend %transition;

  @media screen and (min-width: 992px) {
    left: -100% !important;
  }

  &.close {
    left: -80%;
  }

  @media screen and (max-width: 575px) {
    width: 90%;

    &.close {
      left: -90%;
    }
  }

  .close {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    font-size: 50px;
    line-height: 1;
    font-weight: 500;
    color: $color1;
  }

  .logo {
    display: block;
    margin: 1.5rem 0 2rem;
  }

  a {
    display: block;
    padding: 0.5rem;
    padding-left: 3rem;
    font-size: 16px;

    &.active {
      color: $color2;
    }
  }

  .social {
    padding-left: 34px;

    a {
      padding: 0 1rem;
    }
  }
}

img.logo {
  width: 15vw;

  @media screen and (min-width: 1200px) {
    width: 20vw;
  }

  @media screen and (max-width: 991px) {
    width: 45vw;
  }
}

.logo {
  -webkit-text-stroke: 4px black;
  color: #fff;

  @media screen and (max-width: 1150px) {
    -webkit-text-stroke: 3px black;
    color: #fff;
    font-size: 40px;
  }

  @media screen and (max-width: 991px) {
    -webkit-text-stroke: 2px black;
    color: #fff;
    font-size: 30px;
  }
}

.fs-22 {
  font-size: 22px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.ox-hidden {
  overflow: hidden;
}

h1,
h2 {
  @extend %stroked;
}

h1 {
  font-size: 78px;

  @media screen and (max-width: 767px) {
    font-size: 64px;
  }

  @media screen and (max-width: 575px) {
    font-size: 56px;
  }
}

h2 {
  font-size: 58px;

  @media screen and (max-width: 575px) {
    font-size: 46px;
  }
}

h3 {
  font-size: 38px;
}

.bg-green {
  background-color: $color1;
}

.faq-item {
  border-bottom: 2px solid #fff;
  margin-bottom: 1rem;

  .faq-question {
    position: relative;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;

    @extend %stroked;
    padding-right: 65px;

    @media screen and (max-width: 767px) {
      padding-right: 45px;
    }

    @media screen and (max-width: 991px) {
      font-size: 24px;
      -webkit-text-stroke: 1px black;
    }

    &::after {
      position: absolute;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
      content: url(../assets/faq-arrow.svg);
      @extend %transition;
      height: 34px;
      transform: translateY(-50%) rotate(90deg);

      @media screen and (max-width: 767px) {
        right: 10px;
      }
    }
  }

  .faq-answer {
    padding: 10px;
    font-size: 22px;
    @extend %stroked-sm;

    background-color: rgba($color: #000, $alpha: 0.05);
  }

  &.open {
    .faq-question {
      &::after {
        transform: translateY(-50%) rotate(0deg);
      }
    }
  }
}

#show-more-roadmap {
  position: absolute;
  bottom: 12rem;
  left: calc(50% - 150px);
  z-index: 3;
  padding: 1rem 3rem;
  border-radius: 50px;
  background: linear-gradient(to top, #433a37, #6f6a64);
  border: none;
  color: #fff;
  -webkit-text-stroke: 1px black;
  font-size: 24px;
  cursor: pointer;
  @media screen and (min-width: 711px) {
    bottom: 25vw;
  }
}
