@import "colors";
@import "utilities";

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Chaloops W00 Bd", sans-serif;
  color: #000;
}
/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
body {
  font-size: 16px;
}

a {
  cursor: pointer;
}

.page-container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-left: 4rem !important;
  padding-right: 4rem !important;

  @media screen and (max-width: 991px) {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  @media screen and (max-width: 767px) {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  @media screen and (max-width: 575px) {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
  }
}

body {
  position: relative;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  z-index: 5;

  @extend %transition;

  @media screen and (max-width: 575px) {
    padding: 1rem 0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hide-sm {
      @media screen and (max-width: 991px) {
        display: none !important;
      }
    }

    .show-sm {
      @media screen and (min-width: 992px) {
        display: none !important;
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 20px;

      span {
        display: block;
        width: 26px;
        height: 4px;
        background-color: #000;
        border-radius: 6px;
      }
    }

    .nav {
      display: flex;
      align-items: center;
      gap: 60px;

      .links,
      .social {
        display: flex;
        align-items: center;
      }

      .links {
        gap: 50px;

        a {
          font-size: 18px;
          @extend %transition;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;

          &:hover {
            color: white;
          }
        }
      }

      .social {
        gap: 20px;
      }
    }
  }
}

#landing {
  position: relative;
  padding: 0 !important;

  img {
    display: block;
  }
}

#about {
  position: relative;
  background-color: $color1;
  padding: 240px 0 400px;
  z-index: 1;

  @media screen and (max-width: 991px) {
    padding-top: 160px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 100px;
  }

  .vector {
    position: absolute;
    left: 0;
    bottom: -13%;
    width: 100%;
    z-index: 1;

    @media screen and (max-width: 575px) {
      bottom: -8%;
    }

    @media screen and (min-width: 1450px) {
      bottom: -20%;
    }
  }

  .vector-bg {
    position: absolute;
    top: calc(50% - 5%);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1470px;

    @media screen and (max-width: 1390px) {
      top: calc(50% - 6%);
    }

    @media screen and (max-width: 991px) {
      top: 39%;
    }

    @media screen and (max-width: 767px) {
      height: 60%;
      top: 33%;
    }

    @media screen and (max-width: 575px) {
      height: 54%;
      top: 32%;
    }

    @media screen and (max-width: 450px) {
      height: 57%;
      top: 32%;
    }

    @media screen and (max-width: 335px) {
      height: 67%;
      top: 34.5%;
    }
  }

  .page-container {
    max-width: 1000px;

    @media screen and (max-width: 1390px) {
      max-width: 800px;

      p {
        font-size: 12px;
      }
    }

    @media screen and (max-width: 1100px) {
      max-width: 600px;
      text-align: center;

      p {
        font-size: 12px;
      }

      .main-row {
        & > .col-lg-7 {
          width: 100%;
        }

        & > .col-lg-5 {
          width: 100%;
        }

        .nft {
          position: absolute;
          width: 500px !important;
          left: 2rem;
        }
      }
    }

    @media screen and (max-width: 991px) {
      .col-lg-5 {
        transform: translateY(9rem) scale(0.5);
      }

      .nft {
        bottom: -33rem;
        left: 1rem;
      }
    }

    @media screen and (max-width: 830px) {
      max-width: 80%;

      h2 {
        line-height: 1.75;
      }
    }

    @media screen and (max-width: 700px) {
      max-width: 80%;

      p {
        font-size: 10px;
      }

      .nft {
        bottom: -36rem;
        left: calc(50% - 14rem) !important;
      }
    }

    @media screen and (max-width: 700px) {
      br {
        display: none;
      }
    }

    h2 {
      @media screen and (max-width: 1400px) and (min-width: 992px) {
        font-size: 44px;
      }

      @media screen and (max-width: 860px) {
        font-size: 40px;
      }

      @media screen and (max-width: 575px) {
        font-size: 30px;
      }

      @media screen and (max-width: 420px) {
        font-size: 24px;
      }
    }

    .btn {
      @media screen and (max-width: 1100px) {
        margin-left: auto;
        margin-right: auto;
      }

      @media screen and (max-width: 575px) {
        width: 100px;
      }
    }
  }

  .about-container {
    position: relative;
  }

  * {
    color: #fff;
  }
}

#rarity {
  position: relative;
  background: linear-gradient(to bottom, $color2, $color3);
  padding: 7rem 0 120px;
  z-index: -1;

  @media screen and (min-width: 1450px) {
    padding-top: 15%;
  }

  .vector {
    position: absolute;
    left: 0;
    width: 100%;

    &.top {
      top: 0;
    }

    &.bottom {
      bottom: 0;
      transform: rotate(180deg);
    }
  }

  h2 {
    text-align: center;
    margin-bottom: 36px;
  }

  .nft-cards {
    .main-row {
      justify-content: center;
    }

    .col-lg {
      pointer-events: none;
      @media screen and (min-width: 992px) {
        width: 20%;
      }

      .nft-card {
        border-radius: 10px;
        background-color: $color1;

        .main {
          height: 100%;
          padding: 31px 18px 0;
          background: url(../assets/bg-attribue-card.svg);
          background-size: cover;
          @extend %transition;
        }
        .hover-card {
          background-size: 200%;
        }

        * {
          color: #fff;
        }

        h3 {
          @extend %stroked;

          @media screen and (max-width: 1230px) {
            font-size: 28px;
          }
        }

        img {
          width: 100%;

          @media screen and (max-width: 575px) {
            max-width: 230px;
            margin-left: auto;
            display: block;
          }
        }
      }
    }
  }

  .categories-container {
    h2 {
      margin-top: 140px;
    }

    .categorie-cards {
      .category-card {
        background-color: $color1;
        border-radius: 15px;
        height: 156px;

        @media screen and (max-width: 360px) {
          height: 230px;
        }

        .main {
          height: 100%;
          padding: 0 1rem;
          background: url(../assets/bg-attribue-card.png);
          background-size: cover;
          display: flex;
          justify-content: space-between;
          align-items: center;

          @media screen and (max-width: 360px) {
            flex-direction: column;
            padding: 1rem 0;

            & > h3 {
              width: 100%;
              text-align: center;
            }
          }

          h3 {
            font-size: 32px;
            @extend %stroked;

            @media screen and (max-width: 1170px) and (min-width: 1061px) {
              font-size: 28px;
            }

            @media screen and (max-width: 1060px) and (min-width: 992px) {
              font-size: 24px;
            }
          }

          img {
            @media screen and (max-width: 1200px) {
              transform: scale(0.6);
            }
          }
        }
      }
    }
  }
}

#roadmap-top {
  position: relative;
  background-color: #000;

  img {
    display: block;
  }
}

#roadmap-wrap {
  position: relative;
  margin-top: -40%;
  z-index: 1;

  a {
    text-decoration: underline;
    @extend %stroked;
    font-size: smaller;
    margin-top: 66px;
    margin-left: 16px;

    &:hover {
      text-decoration: none;
    }
  }

  .gif {
    position: absolute;
    bottom: 0;
    transform: translateY(35%);
    z-index: 2;

    @media screen and (max-width: 710px) {
    }
  }

  img.jin {
    position: absolute;

    &:nth-child(1) {
      right: 0;
      top: -10px;

      @media screen and (max-width: 767px) {
        width: 250px;
      }
    }
    &:nth-child(2) {
      left: 0;
      top: 480px;

      @media screen and (max-width: 767px) {
        width: 190px;
      }
    }
    &:nth-child(3) {
      right: 0;
      top: 1840px;

      @media screen and (max-width: 767px) {
        width: 190px;
      }
    }
    &:nth-child(4) {
      left: 280px;
      top: 1960px;

      @media screen and (max-width: 767px) {
        top: 2300px;
        width: 190px;
      }
    }
    &:nth-child(5) {
      right: -70px;
      top: 2620px;
    }
    &:nth-child(6) {
      left: 0px;
      top: 2870px;
      @media screen and (max-width: 767px) {
        width: 240px;
      }
    }
  }

  .page-container {
    position: relative;

    &::after {
      content: "";
      height: 400px;
      background: #00000004;
      // background: linear-gradient(
      //   0deg,
      //   rgba(0, 0, 0, 1) 0%,
      //   rgba(255, 0, 0, 0) 100%
      // );
      position: absolute;
      bottom: 0;
      left: -5rem;
      right: -5rem;
      pointer-events: none;
    }

    &.three {
      &::after {
        opacity: 0;
      }
    }
  }

  .roadmap-main {
    position: relative;
    margin-top: 3rem;
    height: 3680px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;

    @extend %transition;

    @media screen and (max-width: 710px) {
      display: none !important;
    }

    &.two {
      height: 1145px;
    }

    @media screen and (max-width: 1470px) {
      max-width: 3740px;
      top: 4rem;

      &.two {
        height: 1120px;
      }
    }

    @media screen and (max-width: 1410px) {
      transform: scale(0.8);
      height: 2950px;
      top: -6rem;

      &.two {
        height: 860px;
        top: -3rem;
      }

      &.three {
        top: -20rem;
      }
    }

    @media screen and (max-width: 1250px) {
      transform: scale(0.7);
      height: 2870px;
      margin-top: -20rem;
      top: 12rem;

      &.two {
        height: 1100px;
        top: 14rem;
      }

      &.three {
        top: -10rem !important;
      }
    }

    @media screen and (max-width: 1088px) {
      transform: scale(0.6);
      height: 2590px;
      margin-left: -5rem;

      &.two {
        height: 1000px;
        top: 11rem;
      }

      &.three {
        top: -9rem;
      }
    }

    @media screen and (max-width: 991px) {
      transform: scale(0.45);
      margin-top: -38rem;
      margin-left: -8rem;
      top: 10rem;
      height: 2380px;

      &.two {
        top: 21rem !important;
        height: 1220px;
      }

      &.three {
        top: 0rem !important;
      }

      h3 {
        font-size: 46px;
        z-index: 2;
      }
    }

    @media screen and (max-width: 767px) {
      transform: scale(0.45);
      height: 2300px;
      margin-top: -38rem;
      margin-left: -12rem;
    }

    img {
      display: block;
      position: absolute;
    }

    img.cave {
      &:nth-of-type(1) {
        top: 0;
        bottom: unset;
      }
      &:nth-of-type(2) {
        top: 160px;
        left: 530px;
      }
      &:nth-of-type(3) {
        top: 560px;
        left: 890px;
        z-index: 1;
      }
      &:nth-of-type(4) {
        top: 755px;
        left: 268px;
      }
      &:nth-of-type(5) {
        top: 1100px;
      }
      &:nth-of-type(6) {
        top: 1320px;
        left: 480px;
      }
      &:nth-of-type(7) {
        top: 1700px;
        left: 920px;
      }
      &:nth-of-type(8) {
        top: 2070px;
        left: 660px;
      }
      &:nth-of-type(9) {
        top: 1860px;
        left: 57px;
      }
      &:nth-of-type(10) {
        top: 2420px;
        left: 100px;
      }
      &:nth-of-type(11) {
        top: 2720px;
        left: 430px;
      }
      &:nth-of-type(12) {
        z-index: 1;
        top: 3147px;
        left: 1000px;
      }
    }

    img.stones {
      &:nth-of-type(1) {
        top: 190px;
        left: 140px;
      }
      &:nth-of-type(2) {
        top: 270px;
        left: 650px;
      }
      &:nth-of-type(3) {
        top: 780px;
        left: 400px;
      }
      &:nth-of-type(4) {
        top: 810px;
        left: -60px;
      }
      &:nth-of-type(5) {
        top: 1311px;
        left: 50px;
      }
      &:nth-of-type(6) {
        top: 1380px;
        left: 750px;
      }
      &:nth-of-type(7) {
        top: 1875px;
        left: 840px;
      }
      &:nth-of-type(8) {
        top: 2040px;
        left: 180px;
      }
      &:nth-of-type(9) {
        top: 2030px;
        left: -53px;
      }
      &:nth-of-type(10) {
        top: 2600px;
        left: 230px;
      }
      &:nth-of-type(11) {
        top: 2930px;
        left: 560px;
      }
      &:nth-of-type(12) {
        left: 960px;
        top: 3300px;
      }
    }

    .texts > h3 {
      position: absolute;
      width: max-content;
      line-height: 1.25;

      @extend %stroked;

      &:nth-of-type(1) {
        top: 14px;
        left: 310px;
      }
      &:nth-of-type(2) {
        top: 220px;
        left: 830px;
      }
      &:nth-of-type(3) {
        top: 590px;
        left: 600px;
      }
      &:nth-of-type(4) {
        top: 755px;
        left: -62px;
      }
      &:nth-of-type(5) {
        top: 1130px;
        left: 260px;
      }
      &:nth-of-type(6) {
        top: 1360px;
        left: 760px;
      }
      &:nth-of-type(7) {
        top: 1760px;
        left: 570px;
      }
      &:nth-of-type(8) {
        top: 2270px;
        left: 770px;
      }
      &:nth-of-type(9) {
        top: 1770px;
        left: -50px;
      }
      &:nth-of-type(10) {
        top: 2460px;
        left: 390px;
      }
      &:nth-of-type(11) {
        top: 3050px;
        left: 170px;
      }
      &:nth-of-type(12) {
        top: 3217px;
        left: 710px;
      }
    }

    @media screen and (max-width: 710px) {
      transform: none;
      margin-top: 5rem;
      margin-left: 0;
      height: unset;

      .caves,
      .texts,
      .stones {
        display: none;
      }
    }
  }
}
.roadmap-section-container {
  overflow: hidden;
  background: #00000004;
  background: linear-gradient(0deg, #444647 85%, #58575700);

  @media screen and (max-width: 710px) {
    overflow-x: hidden;
    background: linear-gradient(0deg, #444647 83%, #58575700);

    &.two {
      background: linear-gradient(0deg, #444647 97%, #58575700);
    }
  }
}

#roadmap-sm {
  @extend %transition;
  padding-bottom: 40%;
  height: 3790px;

  @media screen and (min-width: 711px) {
    display: none;
  }

  @media screen and (max-width: 575px) {
    height: 3430px;
  }

  &.two {
    height: 590px;
  }

  .item {
    display: flex;
    align-items: flex-start;
    margin: 1rem 0 15rem;
    position: relative;

    &::after {
      content: url(../assets/stones.svg);
      position: absolute;
      left: -4rem;
      top: 3rem;
      transform: scale(0.7);

      @media screen and (max-width: 575px) {
        left: -6rem;
        transform: scale(0.5);
      }
    }

    img {
      width: 120px;
      margin-right: 1rem;

      @media screen and (max-width: 575px) {
        width: 80px;
      }
    }

    h3 {
      position: absolute;
      left: 150px;
      @extend %stroked;

      @media screen and (max-width: 590px) {
        font-size: 30px;
        -webkit-text-stroke: 1px black;
      }

      @media screen and (max-width: 575px) {
        font-size: 20px;
        width: 70%;
        left: 110px;
      }
    }

    &:nth-child(even) {
      &::after {
        transform: rotateY(180deg) scale(0.7);

        @media screen and (max-width: 575px) {
          left: -6rem;
          transform: rotateY(180deg) scale(0.5);
        }
      }
    }

    &:last-child {
      margin-bottom: 0;

      &::after {
        display: none;
      }
    }
  }
}

#roadmap {
  position: relative;
  background-image: url(../assets/bg-roadmap.svg);
  background-size: cover;
}

#faq {
  background-color: $color1;
  padding: 130px 0 130px;

  @media screen and (max-width: 991px) {
    padding-bottom: 50px;
  }

  @media screen and (min-width: 575px) {
    padding-top: calc(130px + 10vw);
  }

  .faq-main {
    margin-top: 4rem;
  }
}

#team {
  position: relative;
  padding-top: 0;
  text-align: center;
  z-index: 1;

  .sub-title {
    font-size: 48px;

    @media screen and (max-width: 767px) {
      font-size: 40px;
    }

    @media screen and (max-width: 575px) {
      font-size: 34px;
    }
  }

  .vector {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .team-cards {
    .team-card {
      h3 {
        @media screen and (max-width: 1280px) and (min-width: 992px) {
          font-size: 30px;
          -webkit-text-stroke: 1px black;
        }
      }

      .fs-20 {
        @media screen and (max-width: 1150px) {
          font-size: 16px !important;
        }
      }

      img {
        width: 100%;
        max-width: 275px;
      }
      h3 {
        @extend %stroked;
      }
    }
  }
}

#foot {
  margin-top: -3rem;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 767px) {
    margin-top: 3rem;
  }

  @media screen and (max-width: 575px) {
    margin-top: 7rem;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36vw;

    @media screen and (max-width: 767px) {
      top: calc(50% - 3rem);
      width: 50vw;
    }

    @media screen and (max-width: 575px) {
      top: calc(50% - 5rem);
      width: 60vw;
    }
  }

  img.vector {
    width: 100%;
    display: block;
  }
}

@media (max-width: 786px) {
  #roadmap-wrap a {
    font-size: 25px !important;
  }
}

@media (max-width: 369px) {
  #roadmap-wrap a {
    font-size: 20px !important;
  }
}
